.createPostContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.createPostContent {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Textarea */
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    resize: none;
    background-color: white;
    color: #333;
    outline: none;
    font-size: 14px;

    &:focus {
        border-color: #0056b3;
        box-shadow: 0 0 5px rgba(0, 91, 187, 0.4);
    }
}

.imageBtn, .videoBtn, .postButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;

    &:hover {
        background-color: #0056b3;
    }

    &:active {
        background-color: #00408a;
        transform: scale(0.98);
    }
}

/* Media Upload Buttons */
.mediaSending {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    button {
        flex: 1;
        font-size: 14px;
        padding: 8px;
    }
}

/* Post Button */
.postButton {
    width: 100%;
    font-weight: bold;
}
