@use '../assets/Styles/variables.scss' as *;
@use '../assets/Styles/mixins' as *;

* {
    @include reset;
}

.container {
    @include center;
}

.signUpWrapper {
	
	align-items: center;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.signUpWrapper:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.passwordInput,
.emailInput {
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid #ccc;  
    font-size: 14px;
    padding: 8px 5px;
    transition: border-color 0.3s ease; 
    background-color: transparent;
}

.emailInput:focus, .passwordInput:focus {
    outline: none;
    border-color: #007bff;  
}

form {
	width: 100%;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

.inputWrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.btnSignUp {
    margin-top: 2rem;
    background-color: #007bff; 
    border: none;
    color: white;
    font-size: 14px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btnSignUp:hover {
    background-color: #0056b3; 
}

.registerBtn {
    margin-top: 2rem;
    color: #6c757d; 
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;  
}

.registerBtn:hover {
    color: #495057;  
    text-decoration-color: #495057;
}

.err {
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid red; 
    font-size: 14px;
    padding: 8px 5px;
    transition: border-color 0.3s ease; 
    background-color: transparent;
}

.err:focus {
    outline: none;
}
p {
    color: red;
    font-style: italic;
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
}