@use '../assets/Styles/mixins' as *;

* {
    @include reset;
}

.postContainer {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.demoProfilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    flex-shrink: 0; 
}

.contentWrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.postContent {
    flex-grow: 1;
    padding: 10px 0;
    color: #333;
}

.modifiers {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap; 
}

.modifiers > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

img {
    height: 30px;
    width: 30px;
}

.comment {
    flex: 1; 
    min-width: 200px;
    max-width: 450px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 3px;
}




.like, .dislike, .delete, .commentReply, .edit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    img {
        width: 30px;
        height: 30px;
        transition: filter 0.2s ease;
    }

    &:hover {
        transform: scale(1.1);
        background: rgba(0, 123, 255, 0.1);
    }

    &:active {
        transform: scale(0.9);
    }
}


.like:hover img {
    filter: brightness(1.2);
}

.dislike:hover img {
    filter: brightness(0.8);
}

.delete:hover img {
    filter: brightness(0.8) contrast(1.2);
}

.interactions {
    display: flex;
    font-weight: bold;
    gap: 10px;
}

.like, .dislike {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.liked, .disliked {
    background-color: #007bff; 
    border-radius: 5px;
    padding: 5px;
}