@use '../assets/Styles/mixins' as *;

* {
    @include reset;
}

.input {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    padding:  0 10px;
}

.input:focus {
    outline: none;
    border-color: #007bff;
    width: 100%;
}